.navbar-default {
	background-color: #ffffff;
	border-color: #e7e7e7;
	position: fixed;
	width: 100%;
}

.navbar-brand {
	color: black!important;
	padding-top: .7rem;
	padding-bottom: .7rem;
	font-weight: 900;
	font-size: 22px;
	position: relative;
	z-index: 0;
}
.navbar-brand span {
	color: #17b978;
}

.navbar-tagline span {
	color: #17b978;
	white-space: nowrap;
	position: absolute;
	bottom: 0;
	top: 30px;
	left: 215px;
	font-size: 8px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #17b978;
	text-decoration: underline;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	text-decoration: underline;
	color: #17b978;
	outline: none !important;
}
.navbar-nav {
	text-align: center;
	background-color: #ffffff;
}
.navbar-toggle {
	width: 30px;
	height: 25px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border-color: #ffffff;
	background-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: none;
	color: black;
}

.footer-wrap {
	width: 100%;
	background-color: white!important;
	padding-top: .7rem;
	padding-bottom: .7rem;
	font-size: 14px;
    margin-top: 2px;
    border: 1px solid #e7e7e7;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.post-date {
    color: #777;
    font-size: 10px;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 5px;
  list-style: none;
  background-color: white;
  float: right;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #777;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover, .breadcrumb>.active {
  color: #2ed3ae;
  text-decoration: underline;
}


/* Media Queries */

@media (max-width: 768px) {
	.navbar-tagline span {
		left: 42px;
	}
	.navbar-brand {
		left: 25px;
	}
}

@media (min-width:992px) {
  .footer-wrap .inner-left {
    float: left;
  }
  .footer-wrap .inner-right {
    float: right;
  }
}
@media (max-width:991px) {
  .footer-wrap {
    text-align: center;
  }
}