body {
  background: #fffff;
}
.page-mimi {
	display:none;
}

.page-active {
	display: block;
}
	 
.navbar-default {
	background-color: #ffffff;
	border-color: #e7e7e7;
	position: fixed;
	width: 100%;
}

.navbar-brand {
	color: black!important;
	padding-top: .7rem;
	padding-bottom: .7rem;
	font-weight: 900;
	font-size: 22px;
	position: relative;
	z-index: 0;
}
.navbar-brand span {
	color: #17b978;
}

.navbar-tagline span {
	color: #17b978;
	white-space: nowrap;
	position: absolute;
	bottom: 0;
	top: 30px;
	left: 215px;
	font-size: 8px;
}
.navbar-default .navbar-nav > .active > .nav-link, .navbar-default .navbar-nav > .active > .nav-link:focus, .navbar-default .navbar-nav > .active > .nav-link:hover {
	color: #17b978;
	text-decoration: underline;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease; 
	transition: all 0.3s ease-in-out 0s;
	background-color: #ffffff;
}
.navbar-default .navbar-nav > .nav-item > .nav-link:focus, .navbar-default .navbar-nav > .nav-item > .nav-link:hover {
	color: #17b978;
	text-decoration: underline;
	outline: none !important;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: all 0.3s ease-in-out 0s;
	background-color: #ffffff;
}


.navbar-nav {
	text-align: center;
	background-color: #ffffff;
}
.navbar-toggle {
	width: 30px;
	height: 25px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border-color: #ffffff;
	background-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: none;
	color: black;
}

.footer-wrap {
	width: 100%;
	background-color: white!important;
	padding-top: .7rem;
	padding-bottom: .7rem;
	font-size: 14px;
    margin-top: 2px;
    border: 1px solid #e7e7e7;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 15px;
  list-style: none;
  background-color: white;
  float: right;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
	color: #777;
	text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
	color: #17b978;
	text-decoration: underline;
}
.breadcrumb > li > label.active {
	color: #17b978;
	text-decoration: underline;
}

.post-header {
	margin-top: 52px;
}

.post{
    z-index: 10;
    background: white;
    padding: 20px 5px;
}
.post-date {
	color: #777;
	font-size: 10px;
}

.pagination-lg>li>a, .pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 12px;
    line-height: 1.3333333;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #17b978;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #fff;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #fff;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    cursor: default;
    color: #fff!important;
    background-color: #17b978!important;
    border-color: #fff!important;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #fff!important;
    background-color: #17b978!important;
    border-color: #fff!important;
}

.manvasam { 
	  min-height: 100vh;
}

/* List */
.manvasam> ol {
  counter-reset: index;  
  padding: 0;
  max-width: 300px;
}

/* List element */
.manvasam> ol > li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}


/* Element counter */
.manvasam> ol > li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
	
/* Media Queries */

@media (max-width: 768px) {
	.navbar-tagline span {
		left: 42px;
	}
	.navbar-brand {
		left: 25px;
	}
}

@media (min-width:992px) {
  .footer-wrap .inner-left {
    float: left;
  }
  .footer-wrap .inner-right {
    float: right;
  }
}
@media (max-width:991px) {
  .footer-wrap {
    text-align: center;
  }
  .post{
    padding: 20px 15px;
  }
  .manvasam > .post-content > h4 {
	  padding: 5px 25px;
  }
}